---
layout: default
---

<div class="row flex-column-reverse flex-md-row py-2">
    <div class="col-md-8">
        <h4 id="name">{{ site.name }}</h4>
        <div id="bio">
            <p>
                I am a Master's student in Computer Science, concurrently studying at the <a href="https://www.ubc.ca">University of British Columbia</a> and <a href="https://ethz.ch/en.html">ETH Zurich</a>, advised by <a href="https://k-r-allen.github.io/">Kelsey Allen</a> and <a href="https://crl.ethz.ch/people/coros/">Stelian Coros</a>. I received my Bachelor's degree in Mechanical Engineering from the <a href="https://nus.edu.sg">National University of Singapore</a>.
            </p>
            <p>
                I work at the intersection of robotics, machine learning, and computer vision, with a focus on robot manipulation. My specific research interest is using graph neural networks for learning to simulate the dynamics of soft objects from real-world data.
            </p>
            <p style="text-align:center">
                <a href="mailto:{{ site.footer-links.email }}">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/{{ site.footer-links.github }}">GitHub</a> &nbsp;/&nbsp;
                <a href="{{ site.footer-links.scholar }}">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/{{ site.footer-links.linkedin }}">LinkedIn</a>
            </p>
        </div>
    </div>
    <div class="col-md-4" style="z-index:4;">
        <img alt="profile photo" id="portrait" src="{{ site.avatar }}">
    </div>
</div>

<div class="row py-2">
    <div class="col-md-12">
        <a href="#" class="section-tab active" data-target="publications">Research</a>
        <a href="#" class="section-tab" data-target="misc">Misc</a>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane show active" id="publications">
        {% include publications.html %}
    </div>
    <div class="tab-pane" id="misc">
        {% include misc.html %}
    </div>
</div>