{% assign pub_posts = site.posts | where_exp: "p", "p.categories contains 'publications'" %}
{% assign main_posts = pub_posts | where_exp: "p", "p.group != 'projects'" %}
{% assign project_posts = pub_posts | where_exp: "p", "p.group == 'projects'" %}

{% for post in main_posts %}
{% include publication_card.html post=post %}
{% endfor %}

{% if project_posts.size > 0 %}
<div class="row pt-4 pb-1">
    <div class="col-md-12">
        <h4>Projects</h4>
        <hr class="mt-1">
    </div>
</div>
{% for post in project_posts %}
{% include publication_card.html post=post %}
{% endfor %}
{% endif %}
